<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.furence.DAO">

<select id="loginSelect" resultType="com.furence.VO.UserVO">
	select * from "user" where id in(#{id}) and pwd in(#{pwd})
</select>


<insert id="signupinsert">
	insert into "user" ("id","pwd","name","level","desc","reg_date") values(#{id},#{pwd},#{name},#{level},#{desc},#{reg_date})
</insert>

<select id="selectAll" parameterType="com.furence.VO.UserVO" resultType="com.furence.VO.UserVO">
	select*from "user"
	<if test="keyWord != null">
		<choose>
			<when test="keyWord.equals('id')">
				where id like '%${content}%'
			</when>
		</choose>
		<choose>
			<when test="keyWord.equals('password')">
				where pwd like '%${content}%'
			</when>
		</choose>
		<choose>
			<when test="keyWord.equals('level')">
				where level like '%${content}%'
			</when>
		</choose>
		<choose>
			<when test="keyWord.equals('name')">
				where name like '%${content}%'
			</when>
		</choose>
	</if>
</select>

<select id="idoverlap" resultType="int">
	select count(*) from "user" where id=#{id}
</select>
</mapper>